*{margin: 0; padding:0%;}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
    
}
img{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50% ;
    width: 50%;
    object-fit: contain;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    
    font-size: 2.5vw;
    text-shadow: .2vw .2vh #8b8b8b;

}
@media screen and (max-width: 756px){
    #contenedor{
        max-width: 1000px;

    }
}